body{
    background-color: white;
    display: grid;
    place-items: center;
    min-height: 95vh;
}
#image{
    position: relative;
    top: -400px;
}
#center{
    position: relative;
    display: grid;
    width: 900px;
    height: 70vh;
    border: 1px solid black;
}
.buttons{
    width: 50px;
    height: 50px;
}
#btn1{
    grid-column: 1;
}
#btn2{
    grid-column: 2;
    place-self: start end;
}
#btn3{
    place-self: end start;
}
#btn4{
    place-self: end;
}